@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');


$dark-color:#2c3e50;
$black-color:#1A252F;
$light-color:#FFFFFF;
$main-color:#1ABC9C;
$hover-color:#148F77;
$Roboto:'Roboto', sans-serif;
$font-bolder:900;
$font-bold:700;
$main-size:1rem;
$main-transition: all 0.5s;

